.cardRender {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(auto, 350px);
    grid-auto-rows: 350px;

    @media (max-width: 1025px) {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(auto, 350px);
    }

    @media (max-width: 426px) {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(auto, 350px);
    }
}
