.hrefBlock {
    display: flex;
    flex-direction: column;
}

.hrefStyle {
    text-decoration: none;
    color: black;
}

.wrapperContact {
    display: grid;

    grid-template-columns: 350px 750px;
    gap: 50px;

    @media (max-width: 1025px) {
        grid-template-columns: 350px 350px;
    }
}

h2 {
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
}

.imgBlock {
    background: url("../../img/ContactWeb.jpg");
    width: 750px;
    height: 530px;

    @media (max-width: 1025px) {
        background: url("../../img/ContactWeb_tablet.jpg");
        width: 350px;
        height: 750px;
    }
    @media (max-width: 426px) {
        display: none;
    }
}
