.hrefBlock {
    display: flex;
    flex-direction: column;
}

.hrefStyle {
    text-decoration: none;
    color: black;
}

.wrapperContact {
    // display: flex;
    // justify-content: space-between;
    display: grid;

    grid-template-columns: 1fr 800px;
    gap: 50px;

    @media (max-width: 1025px) {
        grid-template-columns: 1fr 500px;
    }
}

.contactBlock {
}

h2 {
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
}

.imgBlock {
    @media (max-width: 1025px) {
        img {
            width: 500px;
        }
    }
    @media (max-width: 426px) {
        display: none;
    }
}
