h2 {
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0px;
    font-size: 20px;
    color: #2e2e2e;
}

p {
    margin-top: 0px;
    padding: 0;
    margin-bottom: 0px;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 120%;
}

.wrapperAbout {
    display: grid;

    grid-template-columns: 1fr 750px;
    gap: 50px;

    @media (max-width: 1025px) {
        grid-template-columns: 1fr 1fr;
    }
}

.imgBlock {
    background: url("../../img/AboutWeb.jpg");
    width: 750px;
    height: 530px;
    @media (max-width: 1025px) {
        background: url("../../img/AboutWeb_tablet.jpg");
        width: 350px;
        height: 750px;
    }
    @media (max-width: 426px) {
        display: none;
    }
}
