.menu {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.4s;
}

.menuActive {
    visibility: visible;
    opacity: 100;
    transition: all 0.6s;
}

.menuContent {
    font-size: 16px;

    display: grid;
    grid-template-areas: "project about contact";
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-self: start;
    transition: all 0.6s;

    .project {
        grid-area: project;
        justify-self: start;
        text-decoration: none;
        font-weight: 500;
        color: #808080;
    }

    .projectActive {
        grid-area: project;
        justify-self: start;
        text-decoration: none;
        font-weight: 500;
        color: #2e2e2e;
    }

    .project:active,
    .project:hover,
    .project:focus {
        color: #2e2e2e;
    }

    .aboutMe {
        grid-area: about;
        justify-self: center;
        text-decoration: none;
        font-weight: 500;
        white-space: nowrap;
        color: #808080;
    }

    .aboutMe:active,
    .aboutMe:hover,
    .aboutMe:focus {
        color: #2e2e2e;
    }

    .contact {
        grid-area: contact;
        justify-self: end;
        text-decoration: none;
        font-weight: 500;
        color: #808080;
    }

    .contact:active,
    .contact:hover,
    .contact:focus {
        color: #2e2e2e;
    }
}

@media (max-width: 426px) {
    .menu {
        visibility: visible;
        opacity: 1;
        transform: translateX(38px);
    }
    .menuActive {
        visibility: visible;
        opacity: 1;
        transform: translateX(38px);
    }
}
