.header {
    grid-area: header;
    /* height: 50px; */

    display: grid;
    grid-template-areas: "burger name en";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    @media (max-width: 426) {
        grid-template-areas: "burger name";
    }
}

.burger {
    font-size: 16px;

    grid-area: burger;

    display: grid;
    grid-template-areas: "project aboutMe contact";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    justify-self: start;
}

.project {
    grid-area: project;
    justify-self: start;
    text-decoration: none;
    color: black;
}

.aboutMe {
    grid-area: aboutMe;
    justify-self: center;
    text-decoration: none;
    color: black;
}

.contact {
    grid-area: contact;
    justify-self: end;
    text-decoration: none;
    color: black;
}

.name {
    grid-area: name;
    justify-self: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.en {
    grid-area: en;
    justify-self: end;

    @media (max-width: 426) {
        display: none;
    }
}
