$text-color-black: rgba(40, 40, 40, 1);
$text-color-light-gray: rgba(136, 136, 136, 1);

.render {
    width: 350px;
    height: 350px;
    color: azure;
    cursor: pointer;
    // position: relative;
}

.nameProject {
    transform: translateY(-20px);
    transition: all 0.3s;

    opacity: 0;

    display: flex;
    justify-content: space-between;

    .nameProject__name {
        color: $text-color-black;
    }
    .nameProject__year {
        color: $text-color-light-gray;
    }
}

.render:hover ~ .nameProject {
    transform: translateY(5px);
    transition: all 0.3s;

    opacity: 100;
}

.render__img {
    width: 100%;
    height: 100%;
}

@media (max-width: 426px) {
    .nameProject {
        transform: translateY(5px);
        opacity: 1;
    }
}
