.app-wrapper {
    display: grid;
    margin: 0 auto;
    justify-content: center;

    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-columns: 1150px;
    grid-gap: 25px;
}

body {
    background: rgb(255, 255, 255);
}
