/* spectral-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spectral";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/spectral-v13-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("./fonts/spectral-v13-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spectral-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spectral";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/spectral-v13-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("./fonts/spectral-v13-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spectral-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spectral";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/spectral-v13-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("./fonts/spectral-v13-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spectral-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spectral";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/spectral-v13-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("./fonts/spectral-v13-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.app-wrapper {
    max-width: 1150px;
    min-height: 100vh;
    display: grid;
    margin: 0 auto;
    padding: 0;
    justify-content: center;

    grid-template-areas:
        "header"
        "content"
        "footer";

    gap: 50px;
    grid-template-columns: 1150px;
    grid-template-rows: 50px 1fr 80px;

    @media (max-width: 1025px) {
        grid-template-columns: 750px;
    }

    @media (max-width: 426px) {
        grid-template-columns: 350px;
    }
}

body {
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 0;

    font-family: "Spectral";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #2e2e2e;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
